/******************* LAYOUT *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;
@use "fx" as *;
@use "objects";

// /* MAIN STRUCTURE */

/* LEFT MENU */
.sidebar-wrapper {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 48px;
    height: 100%;
    background-color: var(--bg-primary);
    @include transition(width);

    .sidebar {
        @include flex;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);

        li {
            a, button {
                @include flexAlign;
                height: 48px;
                color: var(--neutral-color);
                background-color: var(--bg-primary);
                @include transition(gap);

                figure {
                    @include flexCenter;
                    position: relative;
                    z-index: 3;
                    width: 48px;
                    padding-inline: 4px;
                    background-color: var(--bg-primary);

                    svg {
                        width: 20px;
                        fill: var(--neutral-color);
                    }
                }

                span {
                    position: relative;
                    z-index: 2;
                    width: 0;
                    max-width: 200px;
                    font-size: $sm-txt;
                    @include ellipsis;
                    transform: translateX(-152px);
                    opacity: 0;
                    @include transitions((width, transform, opacity));
                }

                > svg {
                    display: none;
                    transform: translateX(-152px);
                }

                &:hover {
                    background-color: var(--bg-hover);

                    figure {
                        background-color: var(--bg-hover);
                    }
                }
            }

            &.selected {
                //font-weight: bold;
                background-color: var(--bg-selected);

                a {
                    color: var(--txt-secondary);
                    background-color: var(--bg-selected);

                    &:hover {
                        cursor: default;
                    }
                }
                
                figure {
                    background-color: var(--bg-selected);

                    svg {
                        fill: var(--bg-secondary);
                    }
                } 
            }

            &:first-child, &:nth-child(2), &.selected {
                :hover {
                    background-color: initial;
                    
                    figure {
                        background-color: initial;
                    }
                }
            }

        }
    }

    &:hover {
        width: 256px;
        @include transition(width);

        .sidebar {
            li {
                 a, button {
                    gap: .5rem;

                    span {
                        width: 200px;
                        padding-inline: 12px;
                        transform: translateX(0px);
                        opacity: 1;
                        @include transitions((width, transform, opacity));
                    }

                    > svg {
                        display: block;
                        transform: translateX(0);
                    }
                }

                button {
                    span {
                        width: 158px;
                    }
                }

                .filter-list {
                    display: block;
                }
            }
        }
    }
}

/* FIXED FOOTER */
footer {
    @include flexBetween;
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    font-size: $sm-txt;
    color: var(--txt-secondary);
    background-color: var(--bg-dark);
    
    // media queries
    @include mq-sm { padding-inline: 2rem; }
    @include mq-lg { padding-inline: 4rem; }
    @include mq-xl { padding-inline: 8rem; }

    figure {
        @include flexAlign(row, .5rem);

        img {
            width: 40px;
        }
    }

    ul {
        display: none;
        @include mq-md {
            @include flex(row, 1rem);
        }
    }
}

/* CONTENT */
.content-wrapper {
    @include flexGrow;
    max-width: 100%;
    overflow: hidden;
    padding-left: 48px; // space for sidebar
    padding-bottom: 60px; // space for footer
    background-color: var(--bg-primary);
}

/* CONTENT HEADER */
header {
    @include flexBetween(row, .75rem);
    height: 84px;
    padding-inline: 1rem;
    background-color: var(--bg-dark);

    .h-left-side {
        @include flex(row);
        align-items: center;
        gap: 4rem;

        .home-header {
            flex-direction: column;

            .brand-name {
                @include brand-txt;
                line-height: 1;
                color: white;
            }

            .tagline {
                font-family: $jura;
                font-size: $sm-txt;
                color: $primary-color;
            }
        }

        img {
            height: 60px;
        }

       .menu-filter {
            display: none;

            @include mq(840px) {
                display: block;
            }
       }
    }

    .h-right-side {
        @include flex(row, 1rem);
        align-items: center;

        button:nth-child(2) {
            .popup {
                width: 200px;
            }
        }
    }

    // media queries    
    @include mq-sm {
        padding-inline: 1.25rem;
        
        .h-left-side {
            .home-header {
                gap: .25rem;
                .brand-name {font-size: $xl-txt; }
                .tagline { font-size: $df-txt; }
            }
        }

        .h-right-side {
            gap: 1.5rem;
        }
    }
        
    @include mq-md {
        padding-inline: 1.5rem;

        .h-right-side {
            gap: 2rem;
        }
    }
}

/* MAIN CONTENT */

main {
    @include flexGrow;
    align-items: center;
}

section {
    @include flex;
    gap: .75rem;
    width: 100%;
    height: 100%;

    .section-header {
        @include flexAlign;
        //@include flexBetween;
        //height: 48px;

        .dash-nav {
            // min resolution supported: 540px > scroll/slide
            @include flex(row, .5rem);
            @include nav-rail(#52c9e8);
            overflow-x: scroll;
            
            li {
                @include flexAlign;
                z-index: 1;
                @include tab-base;
                @include neon-tube(#52c9e8);
                background-color: var(--bg-primary);

                a {
                    font-weight: bold;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    letter-spacing: -.5px;
                    color: var(--neutral-color);
                }

                &.selected {
                    @include tab-active(#52c9e8);

                    a {
                        color: var(--txt-secondary);
                    }
                }
            }
        }

        @include mq-sm {
            .dash-nav {
                gap: 1rem;

                li a {
                    font-size: 0.875rem;
                }
            }
        }
        
        @include mq-mg {
            .dash-nav {
                gap: 2rem;

                li {
                    padding: .5rem 1rem;
                }
            }
        }
    }

    .scene {
        @include flexGrow(column, 1rem);
        align-items: center;
        position: relative;
        z-index: 0;
        width: 100%;
        padding-inline: 1.5rem;

        .scene-header {
            @include flex(row);
            width: 100%;
        }

        .scene-content {
            @include flexGrow;
            width: 100%;

            figure {
                @extend %card;
                @include flexCenter;
                height: 100%;
                
                img {
                    position: relative;
                    max-width: 84%;
                    max-height: 92%;
                    opacity: .8;
                }

                svg {
                    position: absolute;
                    width: 60px;
                    fill: $alert-color;

                    &.svg-1 {
                        top: 36%;
                        left: 24%;
                    }

                    &.svg-2 {
                        top: 48%;
                        right: 12%;
                    }
                }
            }
        }
    }
    
    @include mq-md {
        padding-block: .5rem 1rem;
    }

    
}

// containers

.card-wrapper {
    @include flex(column, 1rem);
    width: 100%;

    .card-header {
        @include flex;
    }

    .card-body {
        @include flex(row, 1rem);
        align-items: center;

        span {
            font-size: 1.75rem;
            font-weight: bold;
        }
    }

    .card-footer {
        @include flex(row, 1rem);
    }

    /* */
    .kpi-card {
        @extend %card;
    }

    @include mq-xs {
        @include grid(2, auto, 1rem);
    }

    @include mq-md {
        @include grid(3, auto, 1rem);
    }

    @include mq-lg {
        //@include grid(5, auto, 1rem);
        @include grid-cols(2fr 2fr 2fr 1fr 1fr, auto, 1rem);
    }
}

// /* DASHBOARDS SPECIFIC STYLES */

.dashboard {
    header {
        padding-block: .75rem;
    }
}

/* MEDIA QUERIES */
@include mq-lg { }
@include mq(1160px) { }
@include mq-xl { }