/******************* LAYOUT *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;
@use "objects";

/* ELEMENTS */

/*********** LAYOUT ***********/

/* LEFT MENU */
.sidebar-wrapper {
    display: flex;
    position: fixed;
    z-index: 1;
    width: 48px;
    height: 100%;
    background-color: var(--bg-primary);
    @include transition(width);

    .sidebar {
        @include flex;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);

        li {
            a, button {
                @include flexAlign;
                height: 48px;
                background-color: var(--bg-primary);
                @include transition(gap);

                figure {
                    @include flexCenter;
                    position: relative;
                    z-index: 2;
                    width: 48px;
                    padding-inline: 4px;
                    background-color: var(--bg-primary);

                    svg {
                        width: 20px;
                        fill: $secondary-color;
                    }
                }

                span {
                    position: relative;
                    z-index: 1;
                    width: 0;
                    max-width: 200px;
                    font-size: $sm-txt;
                    @include ellipsis;
                    transform: translateX(-152px);
                    opacity: 0;
                    @include transitions((width, transform, opacity));
                }

                > svg {
                    display: none;
                    transform: translateX(-152px);
                }

                &:hover {
                    background-color: var(--bg-hover);

                    figure {
                        background-color: var(--bg-hover);
                    }
                }
            }

            &.selected {
                font-weight: bold;
                color: var(--txt-secondary);
                background-color: var(--bg-selected);
                cursor: default;

                a {
                    background-color: var(--bg-selected);
                }
                
                figure {
                    background-color: var(--bg-selected);

                    svg {
                        fill: var(--bg-secondary);
                    }
                } 
                
                a:hover {
                    cursor: default;
                }
            }

            &:first-child, &:nth-child(2), &.selected {
                :hover {
                    background-color: initial;
                    
                    figure {
                        background-color: initial;
                    }
                }
            }

        }
    }

    &:hover {
        width: 256px;

        .sidebar {
            li {
                 a, button {
                    gap: .5rem;

                    span {
                        width: 200px;
                        padding-inline: 12px;
                        transform: translateX(0px);
                        opacity: 1;
                    }

                    > svg {
                        display: block;
                        transform: translateX(0);
                    }
                }

                button {
                    span {
                        width: 158px;
                    }
                }

                .filter-list {
                    display: block;
                }
            }
        }
    }
}

/* FIXED FOOTER */
footer {
    @include flexBetween;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    font-size: $sm-txt;
    color: var(--txt-secondary);
    background-color: var(--bg-dark);
    
    // media queries
    @include mq-sm { padding-inline: 2rem; }
    @include mq-lg { padding-inline: 4rem; }
    @include mq-xl { padding-inline: 8rem; }

    figure {
        @include flexAlign(row, .5rem);

        img {
            width: 40px;
        }
    }

    ul {
        display: none;
        @include mq-md {
            @include flex(row, 1rem);
        }
    }
}

/* CONTENT */
.content-wrapper {
    @include flexGrow;
    padding-left: 48px; // space for sidebar
    padding-bottom: 60px; // space for footer
    background-color: var(--bg-primary);
}

// /* MAIN HEADER */

header {
    @include flexBetween(row, .75rem);
    height: 84px;
    padding-inline: 1rem;
    background-color: var(--bg-dark);

    .h-left-side {
        @include flex(row);
        align-items: center;
        gap: 4rem;

        .home-header {
            flex-direction: column;

            .brand-name {
                @include brand-txt;
                line-height: 1;
                color: white;
            }

            .tagline {
                font-family: $jura;
                font-size: $sm-txt;
                color: $primary-color;
            }
        }

       .menu-filter {
            display: none;

            @include mq(840px) {
                display: block;
            }
       }
    }

    .h-right-side {
        @include flex(row, 1rem);
        align-items: center;

        button:nth-child(2) {
            .popup {
                width: 200px;
            }
        }
    }

    // media queries    
    @include mq-sm {
        padding-inline: 1.25rem;
        
        .h-left-side {
            .home-header {
                gap: .25rem;
                .brand-name {font-size: $xl-txt; }
                .tagline { font-size: $df-txt; }
            }
        }

        .h-right-side {
            gap: 1.5rem;
        }
    }
        
    @include mq-md {
        padding-inline: 1.5rem;

        .h-right-side {
            gap: 2rem;
        }
    }

    
}


/* MAIN CONTENT */

// containers


