/******************* LAYOUT *******************/
@use "colors" as *;
@use "typography" as *;
@use "config" as *;
@use "fx" as *;
@use "objects";

// /* MAIN STRUCTURE */

/* LEFT MENU */
.sidebar-wrapper {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 48px;
    height: 100%;
    background-color: var(--bg-primary);
    @include transition(width);

    .sidebar {
        @include flex;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);

        li {
            a, button {
                @include flexAlign;
                height: 48px;
                color: var(--neutral-color);
                background-color: var(--bg-primary);
                @include transition(gap);

                figure {
                    @include flexCenter;
                    position: relative;
                    z-index: 3;
                    width: 48px;
                    padding-inline: 4px;
                    background-color: var(--bg-primary);

                    svg {
                        width: 20px;
                        fill: var(--neutral-color);
                    }
                }

                span {
                    position: relative;
                    z-index: 2;
                    width: 0;
                    max-width: 200px;
                    font-size: $sm-txt;
                    @include ellipsis;
                    transform: translateX(-152px);
                    opacity: 0;
                    @include transitions((width, transform, opacity));
                }

                > svg {
                    display: none;
                    transform: translateX(-152px);
                }

                &:hover {
                    background-color: var(--bg-hover);

                    figure {
                        background-color: var(--bg-hover);
                    }
                }
            }

            &.selected {
                //font-weight: bold;
                background-color: var(--bg-selected);

                a {
                    color: var(--txt-secondary);
                    background-color: var(--bg-selected);

                    &:hover {
                        cursor: default;
                    }
                }
                
                figure {
                    background-color: var(--bg-selected);

                    svg {
                        fill: var(--bg-secondary);
                    }
                } 
            }

            &:first-child, &:nth-child(2), &.selected {
                :hover {
                    background-color: initial;
                    
                    figure {
                        background-color: initial;
                    }
                }
            }

        }
    }

    &:hover {
        width: 256px;
        @include transition(width);

        .sidebar {
            li {
                 a, button {
                    gap: .5rem;

                    span {
                        width: 200px;
                        padding-inline: 12px;
                        transform: translateX(0px);
                        opacity: 1;
                        @include transitions((width, transform, opacity));
                    }

                    > svg {
                        display: block;
                        transform: translateX(0);
                    }
                }

                button {
                    span {
                        width: 158px;
                    }
                }

                .filter-list {
                    display: block;
                }
            }
        }
    }
}

/* FIXED FOOTER */
footer {
    @include flexBetween;
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    font-size: $sm-txt;
    color: var(--txt-secondary);
    background-color: var(--bg-dark);
    
    // media queries
    @include mq-sm { padding-inline: 2rem; }
    @include mq-lg { padding-inline: 4rem; }
    @include mq-xl { padding-inline: 8rem; }

    figure {
        @include flexAlign(row, .5rem);

        img {
            width: 40px;
        }
    }

    ul {
        display: none;
        @include mq-md {
            @include flex(row, 1rem);
        }
    }
}

/* CONTENT */
.content-wrapper {
    @include flexGrow;
    max-width: 100%;
    overflow: hidden;
    padding-left: 48px; // space for sidebar
    padding-bottom: 60px; // space for footer
    background-color: var(--bg-primary);
}

/* CONTENT HEADER */
header {
    @include flexBetween(row, .75rem);
    height: 84px;
    padding-inline: 1rem;
    background-color: var(--bg-dark);

    .h-left-side {
        @include flex(row);
        align-items: center;
        gap: 4rem;

        .home-header {
            flex-direction: column;

            .brand-name {
                @include brand-txt;
                line-height: 1;
                color: white;
            }

            .tagline {
                font-family: $jura;
                font-size: $sm-txt;
                color: $primary-color;
            }
        }

        img {
            height: 60px;
        }

       .menu-filter {
            display: none;

            @include mq(840px) {
                display: block;
            }
       }
    }

    .h-right-side {
        @include flex(row, 1rem);
        align-items: center;

        button:nth-child(2) {
            .popup {
                width: 200px;
            }
        }
    }

    // media queries    
    @include mq-sm {
        padding-inline: 1.25rem;
        
        .h-left-side {
            .home-header {
                gap: .25rem;
                .brand-name {font-size: $xl-txt; }
                .tagline { font-size: $df-txt; }
            }
        }

        .h-right-side {
            gap: 1.5rem;
        }
    }
        
    @include mq-md {
        padding-inline: 1.5rem;

        .h-right-side {
            gap: 2rem;
        }
    }
}

/* MAIN CONTENT */

main {
    @include flexGrow;
    align-items: center;
}

section {
    @include flex;
    width: 100%;
    height: 100%;

    .section-header {
        @include flexAlign;
        //@include flexBetween;
        //height: 48px;

        .dash-nav {
            // min resolution supported: 540px > scroll/slide
            @include flex(row, .5rem);
            @include nav-rail(#52c9e8);
            overflow-x: scroll;
            
            li {
                @include flexAlign;
                z-index: 1;
                @include tab-base;
                @include neon-tube(#52c9e8);
                background-color: var(--bg-primary);

                a {
                    font-weight: bold;
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    letter-spacing: -.5px;
                    color: var(--neutral-color);
                }

                &.selected {
                    @include tab-active(#52c9e8);

                    a {
                        color: var(--txt-secondary);
                    }
                }
            }
        }

        @include mq-sm {
            .dash-nav {
                gap: 1rem;

                li a {
                    font-size: 0.875rem;
                }
            }
        }
        
        @include mq-mg {
            .dash-nav {
                gap: 2rem;

                li {
                    padding: .5rem 1rem;
                }
            }
        }
    }

    .scene {
        @include flexGrow(column, 1rem);
        align-items: center;
        position: relative;
        z-index: 0;
        width: 100%;
        padding-inline: 1.5rem;

        .hero {
            @include flex(column, 1.5rem);

            .h-tagline {
                @include brand-txt;
                font-size: $xl-txt;
            }

            // media queries
            @include mq-sm {
                .h-tagline {
                    font-size: 48px;
                }
            }
        }

        .scene-header {
            @include flex(row);
            width: 100%;
        }

        .scene-content {
            @include flexGrow(row, 1rem);
            width: 100%;

            .left-content {
                @extend %card;
                flex: 1;
            }

            figure {
                @extend %card;
                @include flexCenter;
                height: 100%;
                
                img {
                    max-width: 66%;
                    max-height: 92%;
                }

                svg {
                    position: absolute;
                    width: 52px;
                    fill: $warning-color;

                    &.svg-1 {
                        top: 36%;
                        left: 24%;
                    }

                    &.svg-2 {
                        top: 48%;
                        right: 12%;
                    }
                }
            }
        }
    }
    
    @include mq-md {
        padding-block: .5rem 1rem;
    }
}

// containers

.card-wrapper {
    @include flex(column, 1rem);
    @include grid(2, auto, 1rem);
    width: 100%;
    height: 100%;

    &.head-card {
        @include mq-xs {
            @include grid(2, auto, 1rem);
        }

        @include mq-md {
            @include grid(3, auto, 1rem);
        }

        @include mq-lg {
            //@include grid(5, auto, 1rem);
            @include grid-cols(2fr 2fr 2fr 1fr 1fr, auto, 1rem);
        }
    }
}

.card-header {
    @include flex;

    h2 {
        font-size: 16px;
        line-height: 18px;
        font-weight: normal;
        text-transform: uppercase;
        color: var(--txt-highlight)
    }
}

.card-body {
    @include flexGrow(row, 1rem);
    justify-content: space-between;

    .c-data {
        @include flex(column, 1rem);
        justify-content: space-between;
        width: 100%;
    }

    .data {
        @include flex(row, .25rem);
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        font-size: 1.75rem;
        font-weight: bold;
    }

    .subdata {
        @include flex(row, .25rem);
        flex-wrap: wrap;
        color: var(--txt-neutral)
    }

    .graph {
        @include flex(row, .5rem);

        &.graph-1 {
            align-items: flex-end;

            .bar {
                @include flexCenter;
                justify-content: flex-end;
                width: 36px;
                height: 112px;
                padding-bottom: .5rem;
                background-color: $highlight-color;

                &:last-child {
                    height: 88%;
                    background-color: $alert-color;

                    &.br2 {
                        height: 94%;
                    }
                }
            }
        }

        &.graph-2 {
            gap: 0;
            
            svg {
                width: 60px;
                fill: $success-color;

                &.down {
                    fill: $danger-color;
                    opacity: .5;
                }
            }
        }
    }
}

/* */
.kpi-card {
    @extend %card;
    gap: 1.25rem;

    .data {
        padding-left: .5rem;
    }

    &:nth-child(4), &:last-child {
        .data {
            justify-content: center;
            padding-left: 0;
            font-size: 2.75rem;
        }
    }
}

.c-double {
    @include flex(row);
    justify-content: space-between;

    .c-left {
        flex: 1;
    }

    .c-right {
        flex: 1;
    }
}

.full-wrap {
    .card {
        //flex: 1;
    }
}

.card-table { 
        .row-top-line {
            display: flex;
            //justify-content: space-between;
            padding: 16px;
            padding-right: 32px;
            font-weight: bold;
            color: white;
            background-color: var(--primary-color);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        
        .row-line {
            padding: 8px 16px;

            span {
                font-size: 14px;
            }
        }

        .table-body {
            height: 152px;
            max-height: 152px;
            overflow: hidden;

            .table-body-container {
                height: 100%;
                overflow-y: auto;
                scrollbar-gutter: stable;
            }
        }

        &.col-4 {
            .row-top-line, .row-line {
                span {
                    &:first-child { width: 15%; }
                    &:nth-child(2) { width: 40%; }
                    &:nth-child(3) { width: 30%; }
                    &:nth-child(4) { width: 15%; }
                }
            }

            .table-body {
                height: 104px;
                max-height: 104px;
            }
        }

        &.col-5 {
            .row-top-line, .row-line {
                span {
                    &:first-child { width: 14%; }
                    &:nth-child(2) { width: 18%; }
                    &:nth-child(3) { width: 32%; }
                    &:nth-child(4) { width: 18%; }
                    &:last-child { width: 18%; }
                }
            }
        
            .row-line {
                padding: 12px 16px;

                span {
                    font-size: 16px;
                }
            }

            .table-body {
                height: 100%;
                max-height: 100%;
            }
        }

        &.col-6 {
            .row-top-line, .row-line {
                span {
                    &:first-child { width: 6%; }
                    &:nth-child(2) { width: 24%; }
                    &:nth-child(3) { width: 20%; }
                    &:nth-child(4) { width: 22%; }
                    &:nth-child(5) { width: 14%; }
                    &:last-child { width: 14%; }
                }
            }
        }

        &.col-11 {
            .row-top-line, .row-line {
                span {
                    &:first-child { width: 9%; }
                    &:nth-child(2) { width: 14%; }
                    &:nth-child(3) { width: 12%; }
                    &:nth-child(4) { width: 8%; }
                    &:nth-child(5) { width: 11%; }
                    &:nth-child(6) { width: 8%; }
                    &:nth-child(7) { width: 8%; }
                    &:nth-child(8) { width: 8%; }
                    &:nth-child(9) { width: 8%; }
                    &:nth-child(10) { width: 8%; }
                    &:last-child { width: 6%; }
                }
            }
        
            .row-line {
                padding: 12px 16px;

                span {
                    font-size: 16px;
                }
            }

            .table-body {
                height: 100%;
                max-height: 100%;
            }
        }
}

.card-graph {
    @include flexCenter;
    gap: .75rem;
    padding: 16px;

    h2 {
        align-self: flex-start;
        font-size: 16px;
        //color: colors.$body-color;
        color: var(--primary-color);
    }
}

// /* DASHBOARDS SPECIFIC STYLES */

.dashboard {
    header {
        padding-block: .75rem;
    }
}

.dash-home {

}

/* MEDIA QUERIES */
@include mq-lg { }
@include mq(1160px) { }
@include mq-xl { }